---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout titre="Accueil">
	<h1 class="text-green-700 text-6xl font-bold">Test de tailwindcss</h1>
	<p>testfesfes</p>
</Layout>
