---
import type { CollectionEntry } from 'astro:content'

interface Props {
    film: CollectionEntry<"films">;
}
const { film } = Astro.props;
---

<a href={`/films/${film.id}`}>{film.data.titre}</a>